body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    text-align: center;
}

div {
    margin: auto;
}

table {
    border: 10px groove lavender;
    border-collapse: collapse;
}

button {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
}

.alive-cell {
    width: 20px;
    height: 20px;
    background-color: lavender;
}

.dead-cell {
    width: 20px;
    height: 20px;
    background-color: white;
}